* {
  font-family: "Playfair Display", serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.area {
  width: 1240px;
  margin: 0 auto;
}

.container {
  text-align: center;
  height: 50px;
  margin-top: 100px;
}

ul li {
  display: inline-block;
  padding: 15px 65px;
  text-transform: uppercase;
  color: #626262;
  cursor: pointer;
}

li:hover {
  color: #03a9f4;
}

.wrapper {
  padding: 40px 25px;
  margin: auto;
  margin-top: 40px;
  width: 470px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.wrapper_for_text {
  width: 420px;
  color: #626262;
}

.article_tag {
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 32px;
  color: #b4ad9e;
}

.article_name {
  font-size: 30px;
  margin-top: 20px;
  font-weight: bolder;
}

.article_descr {
  margin-top: 32px;
}

.wrapper_for_two_artcls {
  display: block;
  padding: 40px 30px;
  margin: 0 auto;
  margin-top: 80px;
  width: 960px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.article_wrapper {
  display: inline-block;
}

.festival_artcl {
  display: inline-block;
}

.coffee_artcl {
  display: inline-block;
  margin-left: 56px;
}