:root {
   --intro-main-color: #fff;
   --font-main: 'Montserrat', sans-serif;
   --description-font: 'Roboto', sans-serif;
   --cursive-font: 'Kaushan Script', cursive;
   --gradient: to top, rgba(252, 227, 136, 0.902), rgba(243, 129, 129, 0.902);
   --color-main: #333333;
   --description-color: #999999;
   --stylish-color-cyan: #95E1D3;
   --stylish-color-yellow: #FCE38A;
   --stylish-color-red: #F38181;
}

* {
   margin: 0;
   padding: 0;
}

@media (min-resolution:192dpi), (min-resolution:2dppx) {
   .section-background-image {
      background: url("../img/slider_bg_image@2x-min.jpg")
   }
}

.container {
   width: 1200px;
   margin: 0 auto;
}

.link {
   text-decoration: none;
   color: var(--intro-main-color);
}

.list {
   padding: 0;
   margin: 0;
   list-style-type: none;
}

.button {
   border: none;
   cursor: pointer;
}

.section-background-image {
   height: 1000px;
   background: linear-gradient(var(--gradient)), url('../img/slider_bg_image-min.jpg');
   background-repeat: no-repeat;
   background-size: cover;
}


.section-introducing {
   padding-top: 25px;
   color: var(--intro-main-color);
   font-family: var(--font-main);
}

.site-header {
 display: flex;
 justify-content: space-between;  
 
}

.site-logo {
   font-size: 30px;
   font-weight: 700;
   transition: color 0.2s linear;
}

.site-logo:hover {
   color: var(--stylish-color-yellow);
}



.site-navigation__list {
   display: flex;
   align-items: center;
}

.site-navigation__item {
   font-family: var(--font-main);
   font-weight: 400;
   font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
}

.site-navigation__link:hover {
   transition: color 0.2s linear;
   color: var(--stylish-color-yellow);
}

.site-navigation__link--hover {
   position: relative
}

.site-navigation__link--hover::after {
   content: "";
   position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  margin-top: 12px;
  background-color: var(--stylish-color-yellow);
  opacity: 0;
  transition: opacity 0.2s linear;
}

.site-navigation__link--hover:hover::after {
   opacity: 1;
}

.site-navigation__item:not(:last-of-type) {
   margin-right: 50px;
}

.site-navigation__icon {
   fill: #fff;
   transition: fill 0.2s linear;
}

.site-navigation__link:hover .site-navigation__icon {
   fill: var(--stylish-color-yellow);
}



.section-title {
   width: 818px;
   margin: 0 auto;
   margin-top: 182px;
   text-align: center;
}

.section-title-main__text--main {
   font-family: var(--font-main);
   font-size: 150px;
   line-height: 140px;
   text-transform: uppercase;
   display: block;
   margin-top: 12px;
}

.section-title-main__text--pre {
   font-family: var(--cursive-font);
   font-size: 72px;
   line-height: 104px;
}

.section-title__button {
   margin-top: 55px;
   width: 163px;
   height: 43px;
   background: none;
   border: 3px solid var(--intro-main-color);
   color: var(--intro-main-color);
   font-size: 14px;
   line-height: 17px;
   font-family: var(--font-main);
   text-transform: uppercase;
}

.section-services {
   padding-top: 40px;
}

.section-header {
   text-align: center;
}

.section-header__text--main {
   margin-top: 10px;
   font-family: var(--font-main);
   font-size: 30px;
   line-height: 37px;
   text-transform: uppercase;
   display: block;
}

.section-header__text--pre {
   font-family: var(--cursive-font);
   font-size: 24px;
   line-height: 35px;
   color: var(--color-main);
}

.section-header__text--pre::after {
   content: "";
   display: inline-block;
   width: 60px;
   height: 3px;
   background-color:var(--stylish-color-red);
   margin-top: 40px;
   color: var(--color-main);
}

.services__list {
   margin-top: 63px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.services__item {
   flex-basis: 25%;
   padding-left: 45px;
   position: relative;;
}

.services__item:nth-last-of-type(-n+3) {
   margin-top: 80px;
}

.title {
   font-weight: 400;
   font-size: 14px;
   font-family: var(--font-main);
   text-transform: uppercase;
   color: var(--color-main);
}

.description {
   margin-top: 10px;
   font-size: 15px;
   line-height: 24px;
   font-family: var(--description-font);
   color: var(--description-color);
}

.services__item--clock:before {
   content: "";
   display: block;
   width: 30px;
   height: 30px;
   background-image: url('../icons/services_icons/clock.svg');
   background-repeat: no-repeat;
   background-position: center;
   position: absolute;
   left: 0;
   top: 0;
}

.services__item--graph:before {
   content: "";
   display: block;
   width: 30px;
   height: 30px;
   background-image: url('../icons/services_icons/graph.svg');
   background-repeat: no-repeat;
   background-position: center;
   position: absolute;
   left: 0;
   top: 0;
}

.services__item--desktop:before {
   content: "";
   display: block;
   width: 30px;
   height: 30px;
   background-image: url('../icons/services_icons/desktop.svg');
   background-repeat: no-repeat;
   background-position: center;
   position: absolute;
   left: 0;
   top: 0;
}

.services__item--book:before {
   content: "";
   display: block;
   width: 30px;
   height: 30px;
   background-image: url('../icons/services_icons/book.svg');
   background-repeat: no-repeat;
   background-position: center;
   position: absolute;
   left: 0;
   top: 0;
}

.services__item--home:before {
   content: "";
   display: block;
   width: 30px;
   height: 30px;
   background-image: url('../icons/services_icons/home.svg');
   background-repeat: no-repeat;
   background-position: center;
   position: absolute;
   left: 0;
   top: 0;
}

.services__item--square:before {
   content: "";
   display: block;
   width: 30px;
   height: 30px;
   background-image: url('../icons/services_icons/square.svg');
   background-repeat: no-repeat;
   background-position: center;
   position: absolute;
   left: 0;
   top: 0;
}

.section-team {
   padding-top: 90px;
}

.section-header {
   width: 960px;
   margin: 0 auto;
}

.team_description {
   margin-top: 44px;
}

.all-team {
   margin-top: 90px;
   display: flex;
   justify-content: space-between;
}
 
.member-information {
   text-align: center;
}

.member-information__name {
   font-size: 14px;
   line-height: 17px;
   font-weight: 500;
   color: var(--color-main);
   font-family: var(--font-main);
   text-transform: uppercase;
   margin-top: 30px;
}

.member-information__position {
   font-style: italic;
   font-weight: 300;
   font-size: 15px;
   line-height: 24px;
   font-family: var(--description-font);
   color: var(--description-color);
}

.img-overlay {
   display: flex;
   position: relative;
   transition: transform 0.2s linear, box-shadow 0.2s linear
}

.overlay {
   display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(var(--gradient));
  transition: opacity 0.2s linear;;
}

.img-overlay:hover >.overlay {
   opacity: 1;
}

.img-overlay:hover {
   transform: translate(-10px, -10px);
   box-shadow: 10px 10px 0 var(--stylish-color-cyan);
}

.socials {
   display: flex;
}

.socials__link {
   display: block;
  background-color: var(--stylish-color-yellow);
  width: 56px;
  height: 56px;
  margin-right: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  fill: var(--stylish-color-red);
  transition: fill 0.2s linear;
}

.socials__icon:hover {
   fill: var(--intro-main-color);
 }

.footer {
   margin-top: 84px;
   height: 62px;
   display: flex;
   align-items: center;
   justify-content:space-between;
   border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.footer__text {
   font-size: 14px;
line-height: 17px;
font-family: var(--font-main);
font-weight: 400;
color: var(--color-main);
}

.footer__link {
   color: var(--stylish-color-red);
   text-decoration: none ;
}

.footer-form{
   display: flex;
}

.email-form {
   width: 233px;
   height: 41px;
   border: 1px solid #E7E7E7;
   padding-left: 10px;
}

.email-form::placeholder {
   font-family: var(--description-font);
   font-style: italic;
font-weight: 300;
font-size: 15px;
line-height: 24px;
color: #CCCCCC;

}

.footer-form__button {
width: 152px;
height: 43px;
font-size: 14px;
line-height: 17px;
font-family: var(--font-main);
font-weight: 700;
text-transform: uppercase;
color: var(--intro-main-color);
background-color: var(--stylish-color-cyan);
}
