* {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header start*/
nav {
  padding-top: 36px;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.logo {
  float: left;
  vertical-align: middle;
}

.logo a {
  font-size: 30px;
  line-height: 32px;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  color: #555252;
}

.logo::first-letter {
  color: #1abc9c;
  font-weight: 900;
}

.menu {
  float: right;
}

.menu li {
  display: inline-block;
}

.menu li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #0f0101;
  font-size: 14px;
}

.menu li {
  margin-right: 32px;
}

.menu li:last-of-type {
  margin-right: 0;
}

.menu li a:hover {
  color: #1abc9c;
}

/* header end */

/* products title start */
.featured_products_title {
  margin-top: 110px;
  text-align: center;
  text-transform: uppercase;
  line-height: 32px;
  color: #515151;
  font-size: 48px;
}

.featured_products_title::after {
  content: "";
  display: block;
  width: 164px;
  height: 7px;
  background-color: #1abc9c;
  margin: 34px auto 0;
}
/* products title end */

/* products start */
.list_of_products {
  margin-top: 92px;
}
.list_of_products li {
  width: 255px;
  list-style-type: none;
  background-color: #323232;
  float: left;
  margin: 0 30px 30px 0;
}

.list_of_products li:nth-of-type(4n) {
  margin-right: 0;
}

.list_of_products li:hover {
  background-color: #1abc9c;
}

.wrapper_for_img {
  background-color: #e9f0fd;
}

.wrapper_for_product_titles {
  text-transform: uppercase;
  line-height: 40px;
}

.wrapper_for_product_titles h3 {
  float: left;
}

.wrapper_for_product_titles h3 a {
  text-decoration: none;
  color: #ffffff;
  padding-left: 14px;
}

.cost {
  float: right;
  width: 54px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.44);
  color: #ffffff;
  text-align: center;
}
/* products end */

/* news start */
.articles {
  margin-top: 80px;
  margin-bottom: 80px;
}
.latest_news_title {
  margin-top: 105px;
  text-align: center;
  text-transform: uppercase;
  line-height: 32px;
  color: #515151;
  font-size: 48px;
}

.latest_news_title::after {
  content: "";
  display: block;
  width: 164px;
  height: 7px;
  background-color: #1abc9c;
  margin: 0 auto;
  margin-top: 34px;
}

.wrapper_for_article {
  float: left;
  width: 346px;
  margin-right: 36px;
  list-style: none;
}

.wrapper_for_article:nth-of-type(3n) {
  margin-right: 0;
}

.article_name {
  margin-top: 14px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  color: #555252;
  letter-spacing: -0.36px;
}

.article_name::after {
  display: block;
  margin-top: 11px;
  content: "";
  width: 136px;
  height: 3px;
  background-color: #4ec6ab;
}

.article_text {
  margin-top: 29px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: -0.36px;
  color: #555252;
}

.button_read_more {
  display: inline-block;
  margin-top: 16px;
  width: 159px;
  height: 51px;
  border-radius: 3px;
  background-color: rgb(78, 198, 171);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.39);
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  padding-top: 13px;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
}

/* news end */
