* {
  font-family: "Playfair Display", serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.area {
  width: 1240px;
  margin: 0 auto;
}

.container {
  text-align: center;
  height: 50px;
  margin-top: 100px;
}

.container .menu li {
  display: inline-block;
  padding: 15px 65px;
  text-transform: uppercase;
  color: #626262;
  cursor: pointer;
}

li:hover {
  color: #03a9f4;
}

p {
  font-family: "Playfair Display", serif;
}
