* {
  font-family: "Playfair Display", serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #626262;
}

.container {
  width: 900px;
  margin: auto;
}

ul {
  text-align: center;
}

ul li {
  margin-top: 75px;
  display: inline-block;
  padding: 0 120px 0 0;
  text-transform: uppercase;
}

ul li:nth-of-type(4n) {
  padding-right: 0;
}

li a {
  color: #626262;
  text-decoration: none;
}

li a:hover {
  color: #03a9f4;
}

main {
  margin-top: 103px;
}

.article_theme {
  display: inline-block;
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  color: #b4ad9e;
  text-decoration: none;
}

article {
  display: inline-block;
  width: 420px;
  margin-right: 56px;
  margin-bottom: 132px;
}

h2 + p {
  margin-top: 25px;
  font-size: 14px;
}

article:nth-of-type(2n) {
  margin-right: 0;
}

.article_theme {
  margin-top: 25px;
}

h2 {
  margin-top: 20px;
  font-weight: normal;
}

main article:nth-last-child(-n + 3) {
  margin-bottom: 52px;
}

.button_load_more {
  display: block;
  width: 164px;
  height: 60px;
  border: solid 1px #626262;
  background-color: white;
  cursor: pointer;
  font-size: 14px;
  margin: 0 auto;
}

button:hover {
  color: #03a9f4;
}
