

.services__list {
   @extend %list;
   margin-top: 63px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.services__item {
   flex-basis: 26%;
   padding-left: 45px;
   position: relative;

   &:nth-last-of-type(-n+3) {
      margin-top: 80px;
   }

   &--clock:before {
      @extend %icon;
      background: (url('/images/icons/services_icons/clock.svg'));
   }

   &--graph:before {
      @extend %icon;
      background: (url('/images/icons/services_icons/graph.svg'));

   &--desktop:before {
      @extend %icon;
      background: (url('/images/icons/services_icons/desktop.svg'));

   &--book:before{
      @extend %icon;
      background: (url('/images/icons/services_icons/book.svg'));

   &--home:before {
      @extend %icon;
      background: (url('/images/icons/services_icons/home.svg'));

   &--square:before {
      @extend %icon;
      background: (url('/images/icons/services_icons/square.svg'));
}