$container-width: 1200px;
$intro-main-color: #fff;
$font-main: 'Montserrat', sans-serif;
$description-font: 'Roboto', sans-serif;
$cursive-font: 'Kaushan Script', cursive;
$gradient: to top, rgba(252, 227, 136, 0.902), rgba(243, 129, 129, 0.902);
$color-main: #333333;
$description-color: #999999;
$stylish-color-cyan: #95E1D3;
$stylish-color-yellow: #FCE38A;
$stylish-color-red: #F38181;
$form-placeholder-color:#E7E7E7;
$basic-font-size: 14px;
$basic-line-height: 17px;
$desc-font-size: 15px;
$desc-line-height: 24px;
$transition-color: color 0.2s linear;
$transition-fill: fill 0.2s linear;
$transition-transform: transform 0.2s linear;
$transition-opacity: opacity 0.2s linear;
$transition-box-shadow: box-shadow 0.2s linear;