@media (min-width: 320px) and (max-width: 767px) {
  .project_name {
    margin-top: 115px;
  }

  .partner {
    display: inline-block;
    margin-bottom: 30px;
  }

  .partner:last-of-type {
    margin-bottom: 0;
  }

  .partner:nth-of-type(2) {
    order: 1;
  }

  .partner:nth-of-type(4) {
    order: 2;
  }
}

@media (min-width: 768px) {
  .project_name {
    margin-top: 0;
  }

  .holiday_partner_wrapper {
    min-height: 700px;
    padding: 57px 0;
  }

  .find_partner_block {
    margin: 0 auto;
    margin-top: 124px;
  }

  .share_dreams_text {
    font-size: 47px;
  }

  .share_dreams_text + p {
    margin: 32px 0 34px 0;
    font-size: 24px;
  }

  .find_partner_button {
    width: 226px;
    height: 40px;
    font-size: 14px;
  }

  .wrapper_for_partners {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 32px;
  }

  .partner {
    width: 236px;
    padding: 0 10px;
    margin-bottom: 0;
  }

  .other_partners_button {
    width: 192px;
    height: 40px;
    font-size: 14px;
    margin: 36px 0;
  }
}

@media (min-width: 768px) and (max-width: 941px) {
  /* .partner[class*="col-"]:nth-of-type(-2n + 3) {
    margin-right: 30px;
  } */

  .partner:not(:nth-last-of-type(-n + 2)) {
    margin-bottom: 40px;
    text-align: center;
  }
}

@media (min-width: 942px) {
  .partner {
    width: 220px;
  }

  .share_dreams_text {
    font-size: 44px;
  }
}
